@import "./mixins.scss";

// footer
.section-footer{
    padding-top:50px;
}
.footer-bg{
    background: url("../img/Background.png") no-repeat center;
}
.footer-block{
    text-align: center;
    @include flex_column();
    @media(min-width:992px){
        text-align: start;
        @include flex_row();
        justify-content: space-between;
    }
    .qs-block__title{
        @include title_footer();
    }
    .qs-block__email{
        @include flex_row();
        align-items: center;
        justify-content: center;
        padding-bottom:30px;
        .qs-block__email-icon{
            @include icon_f();
            background: url("../img/envelope.png") no-repeat center;
        }
        .qs-block__email-adress{
            @include icon_text();
        }
        @media(min-width:992px){
            justify-content: flex-start;
        }
    }
    .qs-block__phone{
        @include flex_row();
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        .qs-block__phone-icon{
            @include icon_f();
            background: url("../img/telephone.png") no-repeat center;
        }
        .qs-block__phone-num{
            @include icon_text();
        }
        @media(min-width:992px){
            justify-content: flex-start;
        }
    }
    
}
.waiting-block__title{
    @include title_footer();
    padding-top: 30px;
    @media(min-width:992px){
        padding-top: 0;
    }
}
.waiting-block__address{
    @include flex_row();
    align-items: center;
    justify-content: center;
    padding-bottom:25px;
    .waiting-block__address-icon{
        @include icon_f();
        background: url("../img/pin.png") no-repeat center;
    }
    .waiting-block__address-name{
        @include icon_text();
    }
    @media(min-width:992px){
        justify-content: flex-start;
    }
}
.footer-image-block{
    background: url("../img/Dog_footer.png") no-repeat center;
    height: 310px;
    width: 100%;
}
